.chart {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    background: linear-gradient(to left, #ff3f04, #fff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'MuseoSansCyrl';

    @media (max-width: 620px) {
        font-size: 14px;
    }
}